.location-route-test {
  color: red;
}

// -------- Recipe Card Component --------

.card-wrapper {
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

// -------- ScrollBackToTop Component --------

#scrollToTop {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;

    &.visible {
        opacity: 1;
        visibility: visible;
    }
}
// -------- About Me Page --------

#exotic-bird {
  border-radius: 50% !important; /* Makes the image rounded */
  border: 2px solid black; /* Applies a black border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adds a soft black shadow */
}

@media (max-width: 575.98px) { /* Extra small devices (portrait phones, less than 576px) */
  #exotic-bird {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) { /* Small devices (landscape phones, 576px and up) */
  #exotic-bird {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) { /* Medium devices (tablets, 768px and up) */
  #exotic-bird {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) { /* Large devices (desktops, 992px and up) */
  #exotic-bird {
    width: 375px;
    height: 375px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

// ------ Footer Component ------

.footer-text {
    font-size: 0.875rem;
    font-style: italic;
    color: #6c757d;
}

// .collapsed-card .card-body {
//   display: none;
// }

// .collapsed-card .card-header {
//   border-bottom: none;
// }