// .instruction-step {
//   border: 1px solid #dee2e6; /* Bootstrap's default border color */
//   border-radius: 0.25rem; /* Bootstrap's default border radius */
//   margin-bottom: 0.5rem; /* Space between steps */
//   padding: 0.75rem 1.25rem; /* Padding inside the list item */
// }

// .search-bar .input-group {
//     max-width: 400px;
//     margin: 0 auto;
//   }
  
//   .search-bar .btn {
//     border-top-left-radius: 0;
//     border-bottom-left-radius: 0;
//   }

// .separator {
//   width: 2px;
//   background-color: black;
// }

.card-wrapper {
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

#scrollToTop {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;

    &.visible {
        opacity: 1;
        visibility: visible;
    }
}

// .collapsed-card .card-body {
//   display: none;
// }

// .collapsed-card .card-header {
//   border-bottom: none;
// }